.testimon {
  min-width: 585px;
  height: 310px;
  background-color: var(--color-bg);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  gap: 17px;

  &__img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
  }

  &__title {
    font-size: 20px;
    line-height: 23px;
  }

  &__description {
  }
}
