.testimon {
  width: 585px;
  height: 310px;
  background-color: #fefefe;
  background-color: red;
  //background-color: #3b3b3b; //dark
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  gap: 17px;

  &__img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
  }

  &__title {
    font-size: 20px;
    line-height: 23px;
  }

  &__description {
  }
}
