.card {
  width: 278px;
  height: 399px;
  border-radius: 5px;
  background-color: #3c3c3c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.4s ease-out;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      357.17deg,
      #000000 -56.45%,
      rgba(0, 0, 0, 0) 65.03%
    );
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
  }
  &:hover:before {
    opacity: 1;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      3 357.17deg,
      #000000 -56.45%,
      rgba(0, 0, 0, 0) 65.03%
    );
  }
  &:hover &__info {
    bottom: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    position: relative;
    bottom: -100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 39px;
    z-index: 3;
    transition: 0.3s;
  }

  &__caption {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    width: 180px;
  }

  &__button {
    display: inline-flex;
    width: auto;
    height: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    & svg {
      width: 24px;
      height: 24px;
    }
    &:hover,
    &:focus-within {
      opacity: 1;
      color: #4bd8b5;
    }
    &:hover svg path,
    &:focus-within svg path {
      fill: #4bd8b5;
    }
    &:hover svg circle,
    &:focus-within svg circle {
      stroke: #4bd8b5;
    }
  }
}
