<div class="socials">
  <ul class="socials__list">
    <li class="socials__item">
      <a
        class="socials__link"
        href="https://www.instagram.com/"
        target="_blank"
      >
        @@include('./assets/icons/social_net/inst.svg')
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="https://twitter.com/" target="_blank">
        @@include('./assets/icons/social_net/twitter.svg')</a
      >
    </li>
    <li class="socials__item">
      <a class="socials__link" href="https://www.youtube.com/" target="_blank">
        @@include('./assets/icons/social_net/yt.svg')</a
      >
    </li>
    <li class="socials__item">
      <a class="socials__link" href="https://vk.com/" target="_blank">
        @@include('./assets/icons/social_net/vk.svg')</a
      >
    </li>
  </ul>
</div>
