.socials {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    & + & {
      margin-top: 11px;
    }
  }

  &__link {
    display: block;

    & svg{
    filter: drop-shadow( 0px 0px .1px var(--color-bg));
    }

    & path {
      fill: var(--fill-socials);

}

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
