.socials {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    & + & {
      margin-top: 11px;
    }
  }

  &__link {
    & path {
      fill: var(--color-text);
    }

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
