@import "./base/vars.scss";
@import "./base/mixins.scss";
@import "./base/fonts.scss";
@import "./base/base.scss";
//components
@import "../partials/components/button/button";
@import "../partials/components/socials/socials";
@import "../partials/components/gallery/gallery";
@import "../partials/components/range/range";
@import "../partials/components/petCard/card";
@import "../partials/components/swiper/swiper";
@import "../partials/components/testimon/testimon";


//blocks
@import "../partials/header/header";
@import "../partials/watch/watch";
@import "../partials/howitworks/howitworks";
@import "../partials/inspire/inspire";
@import "../partials/pets/pets";
@import "../partials/pay/pay";
@import "../partials/testimonials/testimonials";

@import "../partials/map/map";
@import "../partials/map/map-item";

@import "../partials/footer/footer";


//zoos
@import "../partials/zoos/zoos";
