<!-- <section class="broadcast" id="broadcast-@@name">
  <div class="container">
    <h2 class="title-text broadcast__title">The Beijing Zoo</h2>


    <div class="broadcast__wrapper">
      <div class="broadcast__player-wrapper">
        <iframe
          class="broadcast__player"
          src="https://www.youtube.com/embed/OObOQ2GElhA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="broadcast__swiper-wrapper">
          <div class="broadcast__swiper-wrapper">
            <ul class="broadcast__swiper swiper-broadcast">
              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="https://www.youtube.com/embed/OObOQ2GElhA"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>

              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="https://www.youtube.com/embed/OObOQ2GElhA"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>

              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="https://www.youtube.com/embed/OObOQ2GElhA"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>
            </ul>
          </div>
          <div class="broadcast__indicators-wrapper">
            <ul class="broadcast__indicators indicators-broadcast">
              <li class="indicators-broadcast__item active"></li>
              <li class="indicators-broadcast__item"></li>
              <li class="indicators-broadcast__item"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="broadcast__info-wrapper">
        <dl class="broadcast__sub-wrapper">
          <dt class="broadcast__sub-title">Population:</dt>
          <dd class="broadcast__sub-text">About 1,590 individuals</dd>
          <dt class="broadcast__sub-title">Habitat:</dt>
          <dd class="broadcast__sub-text">
            Temperate forests high in the mountains of southwest China
          </dd>
          <dt class="broadcast__sub-title">Diet:</dt>
          <dd class="broadcast__sub-text">
            A panda's daily diet consists almost entirely of the leaves, stems
            and shoots of various bamboo species. Bamboo contains very little
            nutritional value so pandas must eat 12-38kg every day to meet their
            energy needs.
          </dd>
        </dl>

        @@include("./partials/components/button/_button.html", {href:"#",
        text:"Feed", class:"broadcast__button" })
      </div>
    </div>
  </div>
</section> -->



<section class="broadcast" id="broadcast-@@name">
  <div class="container">
    <h2 class="title-text broadcast__title">
      @@title</h2>
    <div class="broadcast__wrapper">
      <div class="broadcast__player-wrapper">
        <iframe
          class="broadcast__player"
          src="@@url"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="broadcast__swiper-wrapper">
          <div class="broadcast__swiper-wrapper">
            <ul class="broadcast__swiper swiper-broadcast">
              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="@@url"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>

              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="@@url"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>

              <li class="swiper-broadcast__item">
                <iframe
                  class="swiper-broadcast__player"
                  src="@@url"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </li>
            </ul>
          </div>
          <div class="broadcast__indicators-wrapper">
            <ul class="broadcast__indicators indicators-broadcast">
              <li class="indicators-broadcast__item active"></li>
              <li class="indicators-broadcast__item"></li>
              <li class="indicators-broadcast__item"></li>
            </ul>
          </div>
        </div>
        <!-- replace -->
      </div>
      <div class="broadcast__info-wrapper">
        <dl class="broadcast__sub-wrapper">
          <dt class="broadcast__sub-title">Population:</dt>
          <dd class="broadcast__sub-text">@@population</dd>
          <dt class="broadcast__sub-title">Habitat:</dt>
          <dd class="broadcast__sub-text">
            @@habitat
          </dd>
          <dt class="broadcast__sub-title">Diet:</dt>
          <dd class="broadcast__sub-text">
            @@diet
          </dd>
        </dl>

        @@include("./partials/components/button/_button.html", {href:"#",
        text:"Feed", class:"broadcast__button" })
      </div>
    </div>
  </div>
</section>
