.zoos {
  &__header {
  }
}

.broadcast {
  &:target {
    display: block;
  }
  display: none;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--color-text);
  background-color: var(--color-bg-zoos);

  &__title {
    text-align: left;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  &__player-wrapper {
  }

  &__player {
    border-radius: 5px;
    width: 788px;
    height: 444px;
    margin-bottom: 26px;
  }

  &__swiper-wrapper {
    margin-bottom: 30px;
  }

  &__indicators-wrapper {
  }
  &__indicators {
  }

  &__info-wrapper {
  }

  &__sub-wrapper {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
  }

  &__sub-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-text);
    margin-bottom: 10px;
  }

  &__sub-text {
    color: var(--color-hover);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  &__button {
    width: 198px;
    margin: 0;
  }
}

.swiper-broadcast {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  height: 141px;
  padding: 0;
  margin: 0;
  gap: 26px;

  &__item {
    position: relative;
    flex-basis: calc(100% / 3);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__player {
    width: 100%;
    height: 100%;
  }
}

.indicators-broadcast {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 5px;
  justify-content: center;

  &__item {
    background-color: #c4c4c4;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: scale(0.72);
    transition: all 0.3s linear;
    &.active {
      background-image: linear-gradient(
        106.89deg,
        #4bd8b5 -14.32%,
        #49d6df 100.68%
      );
      transform: scale(1);
    }
  }
}
