<div class="swiper">
  <button class="swiper__button swiper__button--to-left">
    @@include("./assets/icons/arrow_left.svg")
  </button>
  <div class="swiper__container-outer">
    <div class="swiper__container">
      <img class="swiper__item" src="assets/images/pets/Rectangle39.jpg" />
      <img class="swiper__item" src="assets/images/pets/Rectangle36.jpg" />
      <img class="swiper__item" src="assets/images/pets/Rectangle37.jpg" />
      <img class="swiper__item" src="assets/images/pets/Rectangle38.jpg" />
    </div>
  </div>
  <button class="swiper__button swiper__button--to-rigth">
    @@include("./assets/icons/arrow_right.svg")
  </button>
</div>
