<div class="custom-range @@class" >
  <div class="custom-range__num-wrapper @@class__num-wrapper">
    <span class="custom-range__num-current @@class__num-current">@@value</span>
    <span class="custom-range__num-all @@class__num-all">@@quantity</span>
  </div>
  <label for="@@class__input" class="custom-range__description @@class__description">
    <span class="sr-only">Change slide</span>
    <input class="custom-range__input @@class__input" id="@@class___input" type="range" min="1" max=@@max step="1" value="@@value"
  /></label>
</div>
