//https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

.custom-range {
  width: 245px;
  text-align: center;
  margin: 0 auto;
}

.custom-range__input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: transparent;
  position: relative;
  outline: none;
}

.custom-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  @include thumbWidth(245, 4);
  background: var(--color-text);
  cursor: pointer;
  margin-top: -3px;
  transition: all 0.3s ease;
  pointer-events: all;
}

.custom-range__input::-webkit-slider-thumb:hover,
.custom-range__input:focus-within::-webkit-slider-thumb {
  transform: scale(1.1);
}

.custom-range__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: rgba(189, 189, 189, 0.57);
}
.custom-range__input:focus-within::-webkit-slider-runnable-track {
  background-color: rgba(189, 189, 189, 0.37);
}

.custom-range__num-wrapper {
  margin-bottom: 7px;
}
.custom-range__num-current {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-text);

  &:after {
    content: "/";
  }
}

.custom-range__num-all {
  font-weight: 900;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 16px;
}
