.page__map {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-switch-body);
}

.map {

  &__title {
    margin-bottom: 60px;
  }



  &__container {
    margin-bottom: 30px;
    position: relative;
    svg {
      width: 100%;
      height: auto;
    }
  }

  &__icon {
    position: absolute;
    left: -100%;
    top: -100%;

    &--panda {
      top: 18%;
      left: 74%;
    }
    &--leopard {
      top: 37%;
      left: 48%;
    }
    &--eagle {
      top: -5%;
      left: 7%;
    }

    &--fox {
      top: 14%;
      left: 17%;
    }
  }

  &__icon:hover + &__tooltip {
    opacity: 1;
  }


}
