.map__icon {
}

.icon {
  &:hover {
    --color-pin: var(--color-pin-hover);
  }

  &__img-wrapper {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: var(--color-pin);
    transition: all 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -14%;
      -webkit-transform: translate(-50%, 55%);
      -ms-transform: translate(-50%, 55%);
      transform: translate(-50%, 50%);
      width: 0;
      border-top: solid 50px var(--color-pin);
      border-right: solid 28px transparent;
      border-left: solid 28px transparent;
      transition: all 0.3s linear;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 43px;
    max-height: 43px;
    object-fit: cover;
    z-index: 1;
  }

}

.tooltip {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 5%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding-top: calc(min(40px, 2.282vw));
  padding-right: calc(min(44px, 2.292vw));
  padding-bottom: calc(min(44px, 2.292vw));
  padding-left: calc(min(44px, 2.292vw));
  background-color: var(--color-bg);
  opacity: 0;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  transition: all 0.3s linear;

  &__img-wrapper {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--color-text);
    text-transform: capitalize;
  }
  &__info {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--color-hover);
  }

  &__button {
    display: none;
    margin: 0;
    gap: 4px;
    width: max-content;
    height: 29px;
    font-size: 13px;
    line-height: calc(15 / 13);
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: transparent;
    background-image: none;
    color: var(--color-pin);
    border: 1px solid var(--color-pin);

    &:hover {
      --color-pin: var(--color-pin-hover)
    }


    svg {
      width: 16px;
      height: 16px;

      path {
        fill: var(--color-pin);
      }

      circle {
        stroke: var(--color-pin);
      }
    }
  }
}
