.button {
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 245px;
  height: 55px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21/18 * 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-default);
  background-color: #4bd8b5;
  background-image: linear-gradient(
    106.89deg,
    #4bd8b5 -14.32%,
    #49d6df 100.68%
  );
  border-radius: 3px;
  transition: all ease 0.3s;

  &:hover,
  &:focus-within {
    filter: opacity(0.7);
  }

  &:active {
    filter: opacity(0.3);
  }
}
