<section class="page__watch watch">
  <div class="container container--wide watch">
    <div class="watch__socials">
      @@include("./partials/components/socials/_socials.html")
    </div>

    <div class="container">
      <p class="watch__slogan title-text">Watch your favorite animal online</p>

      <div class="watch__online online">
        <div class="online__button-wrapper">
          @@include("./partials/components/button/_button.html", { class:
          "online__button", href: "#", text:
          "@@include('./assets/icons/play_icon.svg') watch online", })
        </div>
        <div class="online__swiper-wraper">
          <div class="online__swiper-container">
            @@include("./partials/components/swiper/_swiper.html", {pathtoJSON:
            "./partials/pets/pets.json", el: "pet", class:"online-swiper",
            controls:"yes"})
          </div>
          <div class="online__range-wrapper">
            @@include('./partials/components/range/_range.html', { class:
            "pets", value: "02", quantity: '08', max: 8, class: 'online-range'
            })
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
