.page__watch {
  background-color: #5d5b66;
  background-image: url("/assets/images/landing/watch-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 113px;
  height: 100%;
  height: 620px;
}

.watch {
  position: relative;
  &__socials {
    position: absolute;
    top: 516px;
    left: 10px;
  }

  &__slogan {
    max-width: 793px;
    text-align: left;
    font-weight: 900;
    font-size: 89px;
    line-height: 104 / 89 * 100%;
    //color: var(--color-base);
    color: #fefefe;
    margin-bottom: 42px;
  }
}
