.page__header {
  background-color: var(--color-header-bg);
}

.header {
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.nav {
  margin: 0 auto;
  &__list {
    padding-top: 8px;
    display: flex;
    padding-left: 1px;
    padding-right: 1px;
    list-style: none;
    margin-left: -10px;
    margin-right: -10px;
    gap: calc(min(3.125vw, 60px));
  }

  &__item {
    position: relative;
    &--active {
      &::before {
        display: block;
        position: absolute;
        content: "";
        bottom: 5px;
        width: 100%;;
        height: 1px;
        background-color: var(--color-text);
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(18.75 / 17);
    color: var(--color-text);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover,
    &:focus-visible {
      filter: opacity(70%);
    }

    &:active {
      filter: opacity(30%);
    }

    .nav__item--active & {
      pointer-events: none;
      font-weight: 900;
    }
  }
}

.logo {
  display: block;

  path {
    fill: var(--color-text);
  }
}

.switch {

  &__input {
    cursor: pointer;
    position: relative;
    appearance: none;
    width: 54px;
    height: 30px;
    border-radius: 190px;
    outline: none;
    background-color: var(--color-switch-body);
    transition: all 0.3s linear;

    &:hover {
      filter: opacity(50%);
    }

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--color-switch-dot);
      top: 5px;
      left: 6px;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      transition: 0.3s;
    }

    &:checked:before {
      transform: translateX(22px);
      box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
    }

    &:focus-visible {
      box-shadow: 0px 0px 0 1px var(--color-switch-body);
    }

    &:checked:focus-visible {
      box-shadow: 10px 0px 0 10px var(--color-switch-body);
    }
  }
}
