.page__header {
  background-color: var(--color-bg);
}

.header {
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.nav {
  margin: 0 auto;
  &__list {
    padding-top: 4px;
    display: flex;
    padding-left: 1px;
    padding-right: 1px;
    list-style: none;
    margin-left: -10px;
    margin-right: -10px;
    gap: calc(min(3.229vw, 64px));
  }

  &__item {
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19 / 16 * 100%;
    color: inherit;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover,
    &:focus-visible {
      filter: opacity(70%);
    }

    &:active {
      filter: opacity(30%);
    }
  }
}

.logo {
  display: block;

  path {
    fill: var(--color-text);
  }
}

.switch {
  &__input {
    cursor: pointer;
    position: relative;
    appearance: none;
    width: 54px;
    height: 30px;
    border-radius: 190px;
    outline: none;
    background-color: #f2f2f2;

    &:hover {
      filter: opacity(50%);
    }

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffffff;
      top: 5px;
      left: 6px;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      transition: 0.3s;
    }

    &:checked {
      background: #4f4f4f;
    }

    &:checked:before {
      transform: translateX(22px);
      background: #1b1b1b;
      box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
    }
    &:focus-visible {
      box-shadow: 0px 0px 0 1px #4f4f4f;
    }
    &:checked:focus-visible {
      box-shadow: 0px 0px 0 1px #f2f2f2;
    }
  }
}
