<header class="page__header header @@class" id="header">
  <div class="container container--wide header">
    <a href="@@webRoot/index.html" class="header__logo logo">
      @@include('assets/icons/logo-light.svg')
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--active">
          <a href="@@webRoot/" class="nav__link">About</a>
        </li>

        <li class="nav__item">
          <a href="@@webRoot/pages/zoos/zoos.html" class="nav__link">Zoos</a>
        </li>

        <li class="nav__item">
          <a href="@@webRoot/pages/intermediate/intermediate.html" class="nav__link">Map</a>
        </li>

        <li class="nav__item">
          <a href="#footer" class="nav__link">Contact us</a>
        </li>

        <li class="nav__item">
          <a href="https://www.figma.com/file/HKt5Nlx0jghQtJp6jW9q8F/zooApp" class="nav__link" target="_blank">Design</a>
        </li>

      </ul>
    </nav>
    <div class="header__switch">
      <label for="switch" class="switch__description sr-only" for="switch"
        >Switch site theme</label
      >
      <input class="switch__input" type="checkbox" id="switch" />
    </div>
  </div>
 </header>
