*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page {
  --color-base: #fefefe;
  --color-text-button: #ffffff;
  --color-pin: #49d6df;
  --color-pin-hover: red;
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 400;
  color: var(--color-text);
  min-height: 100vh;

  transition: all 0.3s linear;
}

.light {
  --color-header-bg: #fff;
  --color-switch-dot: #fff;
  --color-switch-body: #f2f2f2;
  --color-text: #333333;
  --color-bg: #fbfbfb;
  --color-bg-testimonials: #fefefe;
  --color-bg-zoos: #fbfbfb;
  --color-hover: #4f4f4f;
  --color-hover-reverse: #f2f2f2;
  --fill-socials: #3c3c3c;
}
.dark {
  --color-header-bg: #333;
  --color-switch-dot: #1b1b1b;
  --color-switch-body: #4f4f4f;
  --color-text: #fefefe;
  --color-bg: #333333;
  --color-bg-testimonials: #3b3b3b;
  --color-bg-zoos: #4f4f4f;
  --color-hover: #f2f2f2;
  --color-hover-reverse: #4f4f4f;
  --fill-socials: #fefefe;
}

.container {
  width: 100%;
  margin: 0 auto;
  //  max-width: 1200px;
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  outline: 1px solid black;

  &--narrow {
    max-width: 810px;
  }

  &--wide {
    // overflow: hidden;
    @media screen and (min-width: 901px) {
      //max-width: 1618px;
      outline: 1px dashed red;
      max-width: 1638px;
    }
  }
}

.title-text {
  padding: 0;
  margin: 0;
  font-weight: 900;
  text-align: center;
  font-size: 48px;
  line-height: calc(56 / 48);
  color: var(--color-text);
}

.description-text {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--color-hover);
  padding: 0;
  margin: 0;
}

section {
  transition: color 0.5s linear, background-color 0.5s linear;
}
