//gray1 #BDBDBD
$gray1: #333333; //hsl(0, 0%, 20%);
$gray2: #4f4f4f; //hsl(0, 0%, 31%);
$gray3: #3c3c3c;
$gray6: #f2f2f2; //hsl(0, 0%, 95%);
$white: #ffffff; //hsl(0, 0%, 100%);

$base: #fefefe;





//inspire
// gray1 = gray?? base??
//gray2 = gray6
// --color-gray1: #333333;
// --color-gray1: #fefefe; base
// --color--gray2: #4F4F4F;
// --color-gray2: #F2F2F2;
