<section class="page__how how">
  <div class="container container--narrow">
      <h2 class="how__title title-text">How it works?</h2>
      <p class="how__description description-text">As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat, and we are determined to assist in all aspects, including providing veterinary support and raising much-needed emergency funds. Zoo Online saves wildlife and inspires everyone to make conservation a priority in their lives. Animals have the right to a pain-free and happy life. They have equal claim to the resources of this planet, and deserve a life of dignity and compassion.As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat.

      </p>

      @@include("./partials/components/swiper/_swiper.html", {pathtoJSON: "./partials/howitworks/howitworks.json", el: "howitworks"})

      @@include('./partials/components/range/_range.html', {
        class: 'how__range',
        quantity: '04',
        max: 4
      })

      @@include("./partials/components/button/_button.html", { class: "how__button", href:
      "#", text: "@@include('./assets/icons/play_icon.svg') watch online", })
       </div>
</section>