.page__how {
  padding-top: 100px;
  padding-bottom: 100px;
}

.how {
  &__title {
    text-align: left;
    margin-bottom: 30px;
  }
  &__description {
    margin-bottom: 30px;
  }

  &-range {
    margin-bottom: 28px;
  }

  &__button {
    display: flex;
    margin: 0 auto;
  }
}


.how-swiper {
  margin-bottom: 28px;
  &__button {
    display: none;
  }
}