.page__how {
  padding-top: 100px;
  padding-bottom: 100px;
}

.how {
  &__title {
    text-align: left;
    margin-bottom: 30px;
  }
  &__description {
    margin-bottom: 30px;
  }

  &__img-wrapper {
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  &__range {
    margin: 0 auto;
    margin-bottom: 27px;
  }

  &__button {
    display: flex;
    margin: 0 auto;
  }
}
