<footer class="page__footer footer" id="footer">
  <div class="container container--wide">
    <div class="container footer__container">
      <div class="footer__nav-wrapper">
        <a href="@@webRoot/" class="logo footer__logo">
          @@include('assets/icons/logo-light.svg')
        </a>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="@@webRoot/" class="footer__link">About</a>
          </li>

          <li class="footer__item">
            <a href="@@webRoot/pages/zoos/zoos.html" class="footer__link">Zoos</a>
          </li>

          <li class="footer__item">
            <a href="@@webRoot/pages/intermediate/intermediate.html" class="footer__link"
              >Map</a
            >
          </li>

          <li class="footer__item">
            <a
              href="https://www.figma.com/file/HKt5Nlx0jghQtJp6jW9q8F/zooApp"
              class="footer__link"
              target="_blank"
              >Design</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__contact-wrapper">
        <div class="footer_contact contact">
          <h3 class="contact__title">Contact us</h3>
          <form class="contact__form" action="">
            <label for="name" class="contact__input-description sr-only">Print name</label>
            <input class="contact__input" type="text" name="name" id="name" required placeholder="Name">
            <label for="email" class="contact__input-description sr-only">Print email</label>
            <input class="contact__input" name="email" id="email" type="email" required placeholder="Email">

            <fieldset class="contact__fieldset">
              <legend class="contact__legend">Please enter your message</legend>
              <label for="message" class="contact__input-description sr-only">Enter message</label>
              <textarea class='contact__message-input' name="message" maxlength="280" id="message" required></textarea>

            </fieldset>
            <div>
              <input class="contact__input-personal" name="personal-data" id="personal-data" type="checkbox" required placeholder="Email">
              <label for="personal-data" class="contact__input-description">I agree to the processing of Personal Data</label>
            </div>
            <button type="submit" class="button contact__send">
              Send@@include("./assets/icons/pay/Arrow.svg")
            </button>
          </form>
        </div>
        <address class="footer__address address">
          <h3 class="address__title">Zoo online centre</h3>
          <p class="address__street">132, Address District, Street</p>
          <p class="address__schedule">Open Daily 10:00 am - 5:00 pm</p>
          <p class="address__phone">T<a href="tel:7021633433" class="address__phone-num">(702) 163-3433</a></p>
          <p class="address__mail"><a href="mailto:zoo.online@gmail.com" class="address__mail-email">zoo.online@gmail.com</a></p>
          @@include('./partials/components/socials/_socials.html')
        </address>
          <button class='address__donate button'>donate for volunteers</button>
      </div>

    </div>
      <hr class="footer__line">
      <div class="footer__copyright">
        <p>©Noora Sagnayeva</p>
        <p>©RSSchool and ©Yem Digital - 2021</p>
      </div>
  </div>
</footer>
