.page__footer {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #333333;
}

.footer {
  &__container {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
  &__line {
    margin-bottom: 27px;

  }
  .container.container--wide {
    position: relative;
  }

  &__logo {
    margin-top: -7px;
    path {
      fill: var(--color-base);
    }
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 37px;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 36px;
  }
  &__item {
  }

  &__link {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 17px;
    padding-bottom: 13px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--color-base);
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active,
    &:focus-within {
      opacity: 0.4;
    }
  }

  &__contact-wrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 394px;
    }
  }
  &__copyright {
    & > p {
      margin: 0;
      padding: 0;
      color: #bdbdbd;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.contact {
  color: #bdbdbd;
  max-width: 383px;
  &__title {
    font-weight: 900;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--color-base);
  }
  &__input {
    display: block;
    width: 100%;
    color: #e0e0e0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;

    &::placeholder {
      color: #e0e0e0;
    }
  }

  &__fieldset {
    margin-top: 22px;
    height: 120px;
    margin-bottom: 25px;
  }

  &__legend {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  &__message-input {
    resize: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #bdbdbd;
  }

  &__input-personal {
    position: relative;
    margin-bottom: 2px;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      top: 0;
      background-color: #333333;
      border: 1px solid #bdbdbd;
    }
    &:checked::after {
      content: "\2713";
      position: absolute;
      top: -1px;
      left: 1px;
      color: #bdbdbd;
    }
  }

  &__send {
    margin: 0 0 0 auto;
    width: max-content;
    background-color: transparent;
    background-image: none;
    gap: 20px;
    color: var(--color-base);
    font-size: 14;
    line-height: calc(16 / 14);
    svg {
      max-width: 47px;

      path {
        fill: var(--color-base);
      }
    }
  }
}

.address {
  font-style: normal;

  &__title {
    padding: 0;
    padding-top: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 34px;
  }

  &__street {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
  &__schedule {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__phone {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
  }
  &__phone-num {
    color: var(--color-base);
    text-decoration: none;
  }
  &__mail {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  &__mail-email {
    color: var(--color-base);
    text-decoration: none;
  }
  .socials {
    &__item {
      display: inline-block;
      path {
        fill: var(--color-base);
      }
    }
    .socials__item + .socials__item {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  &__donate {
    position: absolute;
    top: 0;
    right: 8px;
    width: 275px;
  }
}
