.page__inspire {
  padding-top: 100px;
  padding-bottom: 132px;
  background-color: var(--color-switch-body);
}

.inspire {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 20px);
    align-items: center;
    gap: 14px;
    margin: 0;
    padding: 0;
  }

  &__img {
    height: 80px;
    width: 80px;
  }

  &__title {
    font-size: 20px;
    line-height: 23px;
  }

  &__description {
  }
}
