<div class="page__pets pets">
  <div class="container container--wide">
    <h3 class="pets__title title-text">Pets in Zoo</h3>
    @@include("./partials/components/swiper/_swiper.html", {pathtoJSON: "./partials/pets/pets.json", el: "pet", class:"pets-swiper"})

    @@include('./partials/components/range/_range.html', {
        class: "pets-range",
        quantity: '08',
        max: 8,
        value:"01"
      })

    @@include("./partials/components/button/_button.html", {class:"pets__button" ,text: "Choose your favorite", href:"#"})
</div>

</div>
