.page__pets {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pets {
  &__title {
    margin-bottom: 37px;
  }

  & .custom__range {
    margin: 0 auto 26px;
  }
  & .custom-range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    @include thumbWidth(245, 8);
  }
}
