.page__pets {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pets {
  &__title {
    margin-bottom: 37px;
  }

  &-range {
    margin-bottom: 26px;

  }

}

.pets-swiper {
  margin-bottom: 32px;

  &__container-outer{
     max-width: 1200px;
  }

  .swiper__item {
    min-width:278px;
    height: 399px;
  }

}


.pets-range {
  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    @include thumbWidth(245, 8);
  }
}
