.gallery {
  //text-align: center;
  &__range {
    margin: 0 auto 26px;

    & .custom-range__input::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 10px;
      @include thumbWidth(245, 8);
    }
  }


  &__button-wrapper {
   text-align: center;
  }
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 33px;

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    cursor: pointer;
    transition: all 0.3s ease;

    &--prev {
      text-align: right;
    }
    &--next {
      text-align: left;
    }

    & svg {
      transition: all 0.3s ease;
    }

    &:hover svg,
    &:focus-within svg {
      transform: scale(1.2);
    }
    &:hover path,
    &:focus-within path {
      fill: var(--color-text);
    }
  }

  &__container {
    gap: 30px;
    flex-basis: 1200px;
    display: flex;
    flex-wrap: nowrap;
  }
}
