.gallery {
  //text-align: center;

}

//   &__button-wrapper {
//    text-align: center;
//   }
// }

// .slider {
//   display: flex;
//   flex-wrap: nowrap;
//   gap: 20px;
//   margin-bottom: 33px;

//   &__button {
//     border: none;
//     outline: none;
//     background-color: transparent;
//     flex-grow: 1;
//     cursor: pointer;
//     transition: all 0.3s ease;

//     &--prev {
//       text-align: right;
//     }
//     &--next {
//       text-align: left;
//     }

//     & svg {
//       transition: all 0.3s ease;
//     }

//     &:hover svg,
//     &:focus-within svg {
//       transform: scale(1.2);
//     }
//     &:hover path,
//     &:focus-within path {
//       fill: var(--color-text);
//     }
//   }

//   &__container {
//     gap: 30px;
//     flex-basis: 1200px;
//     display: flex;
//     flex-wrap: nowrap;
//   }
// }
